<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @search.user %>
</p>

<p>
  <b>Name:</b>
  <%= @search.name %>
</p>

<p>
  <b>Status:</b>
  <%= @search.status %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
