<%= form_for(@todo) do |f| %>
	<% if @todo.errors.any? %>
		<%= render :partial => "application/resource_errors", :locals => { :resource => @todo } %> 
	<% end %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
	
	<% if action_name == 'edit' %>
		<div class="field">
	    <%= f.label :status %><br />
	  	<%= f.collection_select :status, Todo::STATUS, :to_s, :to_s,  { :include_blank => true } %>   
	  </div>
	<% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
